<% content_for :title, "Mentoria - Rails Girls" %>

<h1>Projeto de Mentoria - Rails Girls</h1>
<hr>

<h2>Mentoras</h2>

<div>
  <%= link_to "Listar mentoras", mentors_path %>
</div>

<div>
  <%= link_to "Listar alunas", mentees_path %>
</div>

<div>
  <%= link_to "Criar nova mentora", new_mentor_path %>
</div>
